<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__menu">
                <div class="footer-top__column">
                    <div class="footer-top__title">Вузы России</div>
                    <ul>
                        <li>
                            <a href="./">Вузы Москвы</a>
                        </li>
                        <li>
                            <a href="./">Вузы Санкт-Петербурга</a>
                        </li>
                        <li>
                            <a href="./">Вузы Казани</a>
                        </li>
                        <li>
                            <a href="./">Вузы Нижнего Новгорода</a>
                        </li>
                        <li>
                            <a href="./">Вузы Челябинска</a>
                        </li>
                        <li>
                            <a href="./">Вузы Новосибирска</a>
                        </li>
                        <li>
                            <a href="./">Вузы Екатеринбурга</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <div class="footer-top__title">Колледжи России</div>
                    <ul>
                        <li>
                            <a href="./">Колледжи Москвы</a>
                        </li>
                        <li>
                            <a href="./">Колледжи Санкт-Петербурга</a>
                        </li>
                        <li>
                            <a href="./">Колледжи Казани</a>
                        </li>
                        <li>
                            <a href="./">Колледжи Нижнего Новгорода</a>
                        </li>
                        <li>
                            <a href="./">Колледжи Челябинска</a>
                        </li>
                        <li>
                            <a href="./">Колледжи Новосибирска</a>
                        </li>
                        <li>
                            <a href="./">Колледжи Екатеринбурга</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <div class="footer-top__title">Курсы</div>
                    <ul>
                        <li>
                            <a href="./">Подготовки к ЕГЭ</a>
                        </li>
                        <li>
                            <a href="./">Подготовки к ОГЭ</a>
                        </li>
                        <li>
                            <a href="./">Дизайн с нуля</a>
                        </li>
                        <li>
                            <a href="./">Frontend-разработка</a>
                        </li>
                        <li>
                            <a href="./">Интернет-маркетинг</a>
                        </li>
                        <li>
                            <a href="./">Data-аналитика</a>
                        </li>
                        <li>
                            <a href="./">Психология общения</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <div class="footer-top__title">О проекте</div>
                    <ul>
                        <li>
                            <a href="./">Реклама на сайте</a>
                        </li>
                        <li>
                            <a href="./">Реклама</a>
                        </li>
                        <li>
                            <a href="./">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="./">Пользовательское соглашение</a>
                        </li>
                        <li>
                            <a href="./">Журнал "Где учиться?"</a>
                        </li>
                        <li>
                            <a href="./">Специальности вузов</a>
                        </li>
                        <li>
                            <a href="./">Специальности колледжей</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <a href="./" class="footer-bottom__logo">
                    <img loading="lazy" src="img/icons/logo2.svg" alt="">
                </a>
                <div class="socials">
                    <a href="./">
                        <img loading="lazy" src="img/icons/telegram1.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icons/vk1.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icons/max1.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>