<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="">
            </a>
            <div class="header__menu">
                <ul>
                    <li>
                        <a href="./">Вузы</a>
                    </li>
                    <li>
                        <a href="./">Колледжи</a>
                    </li>
                    <li>
                        <a href="./">Курсы</a>
                    </li>
                    <li>
                        <a href="./">Журнал</a>
                    </li>
                </ul>
            </div>
            <div class="header-search">
                <div class="header-search__buttons">
                    <div class="header-search__button">
                        <svg aria-hidden="true" width="17" height="17">
                            <use xlink:href="img/sprite.svg#search"></use>
                        </svg>
                    </div>
                    <input autocomplete="off" type="text" name="form[]" placeholder="Учебное заведение, специальность">
                    <div class="header-search__close">
                        <svg aria-hidden="true" width="11" height="11">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <button type="button" class="header__icon header-search-button">
                    <svg aria-hidden="true" width="17" height="17">
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
                <a href="./" class="header__icon header-location">
                    <svg aria-hidden="true" width="20" height="20">
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span>
                        Санкт-Петербург
                    </span>
                </a>
                <a href="./" class="btn">Войти</a>
            </div>
        </div>
    </div>
</header>