<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="">
            </a>
            <div class="header__menu">
                <ul>
                    <li>
                        <a href="./">Вузы</a>
                    </li>
                    <li>
                        <a href="./">Колледжи</a>
                    </li>
                    <li>
                        <a href="./">Курсы</a>
                    </li>
                    <li>
                        <a href="./">Журнал</a>
                    </li>
                    <li class="header-favorites">
                        <a href="./">Избранное</a>
                    </li>
                </ul>
                <a href="./" class="header__avatar">
                    <img src="img/avatar1.webp" alt="">
                    <span>Максим Андерсон</span>
                </a>
            </div>
            <div class="header-search">
                <div class="header-search__buttons">
                    <div class="header-search__button">
                        <svg aria-hidden="true" width="17" height="17">
                            <use xlink:href="img/sprite.svg#search"></use>
                        </svg>
                    </div>
                    <input autocomplete="off" type="text" name="form[]" placeholder="Учебное заведение, специальность">
                    <div class="header-search__close">
                        <svg aria-hidden="true" width="11" height="11">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="header-search__dropdown">
                    <div class="header-search__column">
                        <div class="header-search__title">Учебные заведения</div>
                        <ul>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon icon-img">
                                        <img loading="lazy" src="img/image2.webp" alt="">
                                    </div>
                                    <span>Московский государственный университет им. М. В. Ломоносова</span>
                                </a>
                            </li>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon icon-img">
                                        <img loading="lazy" src="img/image3.webp" alt="">
                                    </div>
                                    <span>Национальный исследовательский университет «Высшая школа экономики»</span>
                                </a>
                            </li>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon icon-img">
                                        <img loading="lazy" src="img/image4.webp" alt="">
                                    </div>
                                    <span>Санкт-Петербургский государственный университет</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-search__column">
                        <div class="header-search__title">Специальности</div>
                        <ul>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#hammer"></use>
                                        </svg>
                                    </div>
                                    <span>Графический дизайн</span>
                                </a>
                            </li>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#hammer"></use>
                                        </svg>
                                    </div>
                                    <span>Промышленный дизайн</span>
                                </a>
                            </li>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#hammer"></use>
                                        </svg>
                                    </div>
                                    <span>Веб-дизайн</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-search__column">
                        <div class="header-search__title">Анонсы</div>
                        <ul>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#newspaper"></use>
                                        </svg>
                                    </div>
                                    <span>Жизнь в кампусе: чего ожидать от студенческой жизни</span>
                                </a>
                            </li>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#newspaper"></use>
                                        </svg>
                                    </div>
                                    <span>Топ 10 популярных специальностей в 2026 году </span>
                                </a>
                            </li>
                            <li>
                                <a href="./">
                                    <div class="header-search__icon">
                                        <svg aria-hidden="true" width="20" height="20">
                                            <use xlink:href="img/sprite.svg#newspaper"></use>
                                        </svg>
                                    </div>
                                    <span>Как подготовиться к вступительным экзаменам без стресса</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <button type="button" class="header__icon header-search-button">
                    <svg aria-hidden="true" width="17" height="17">
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
                <a href="./" class="header__icon header-favorites">
                    <svg style="margin-right: -1px; margin-top: 1px;" aria-hidden="true" width="17" height="17">
                        <use xlink:href="img/sprite.svg#heart3"></use>
                    </svg>
                </a>
                <a data-da=".header__menu, 820, 2" data-popup="#location" href="./" class="header__icon header-location">
                    <svg aria-hidden="true" width="20" height="20">
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span>
                        Санкт-Петербург
                    </span>
                </a>
                <button type="button" class="header__icon header-burger">
                    <div class="icon-menu">
                        <span></span>
                    </div>
                </button>
                <a href="./" class="header__icon header-login">
                    <svg style="margin-right: -2px;" aria-hidden="true" width="20" height="20">
                        <use xlink:href="img/sprite.svg#exit"></use>
                    </svg>
                </a>
                <a href="./" class="header__avatar">
                    <img src="img/avatar1.webp" alt="">
                </a>
            </div>
        </div>
    </div>
</header>