<div class="block-recommend">
    <div class="container">
        <div class="block-recommend__content">
            <div class="block-recommend__title">
                Рекомендуем посмотреть
            </div>
            <div class="block-recommend__body">
                <ul>
                    <li>
                        <a href="./">Qui officia deserunt mollit</a>
                    </li>
                    <li>
                        <a href="./">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="./">Consectetur adipiscing elit</a>
                    </li>
                    <li>
                        <a href="./">Ut enim ad minim veniam</a>
                    </li>
                    <li>
                        <a href="./">Quis nostrud exercitation</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="./">Qui officia deserunt mollit</a>
                    </li>
                    <li>
                        <a href="./">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="./">Consectetur adipiscing elit</a>
                    </li>
                    <li>
                        <a href="./">Ut enim ad minim veniam</a>
                    </li>
                    <li>
                        <a href="./">Quis nostrud exercitation</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="./">Qui officia deserunt mollit</a>
                    </li>
                    <li>
                        <a href="./">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="./">Consectetur adipiscing elit</a>
                    </li>
                    <li>
                        <a href="./">Ut enim ad minim veniam</a>
                    </li>
                    <li>
                        <a href="./">Quis nostrud exercitation</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="./">Qui officia deserunt mollit</a>
                    </li>
                    <li>
                        <a href="./">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="./">Consectetur adipiscing elit</a>
                    </li>
                    <li>
                        <a href="./">Ut enim ad minim veniam</a>
                    </li>
                    <li>
                        <a href="./">Quis nostrud exercitation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>