<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Статья</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner block-banner-article banner-bg">
                <img src="img/image43.webp" alt="" class="block-banner__bg1">
                <div class="container">
                    <div class="block-banner__content">
                        <div class="block-banner__body">
                            <div class="block-banner__top">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Журнал
                                            </a>
                                        </li>
                                        <li><span>Поступление в вуз</span></li>
                                    </ul>
                                </div>
                                <a href="./" class="share">
                                    <img loading="lazy" src="img/icons/share.svg" alt="">
                                </a>
                            </div>
                            <div class="block-banner__heading-complex">
                                <h1 class="title1">
                                    Как выбрать университет:
                                    <br>
                                    5 шагов к правильному решению
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-article">
                <div class="container">
                    <div class="block-article__contents">
                        <div class="block-article__content">
                            <div class="block-article__body">
                                <h2 class="title3">
                                    Поступление — это не только баллы ЕГЭ, но и выбор будущего места, где ты проведёшь
                                    несколько важных лет своей жизни.<br> Разбираемся, как подойти к этому решению
                                    осознанно.
                                </h2>
                                <div class="block-content">
                                    <h4 class="title4">Содержание</h4>
                                    <div class="block-content__body">
                                        <ul>
                                            <li>
                                                <span>1</span>
                                                <a href="./">Определи, чего ты хочешь от обучения</a>
                                            </li>
                                            <li>
                                                <span>2</span>
                                                <a href="./">Изучи направления и программы</a>
                                            </li>
                                            <li>
                                                <span>3</span>
                                                <a href="./">Сравни вузы и города</a>
                                            </li>
                                            <li>
                                                <span>4</span>
                                                <a href="./">Учитывай атмосферу и внеучебную жизнь</a>
                                            </li>
                                            <li>
                                                <span>5</span>
                                                <a href="./">Проверь условия поступления и поддержки студентов</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="descr">
                                    <div class="descr__column">
                                        <div class="descr__title">
                                            Lorem ipsum dolor sit amet
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu
                                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                            in
                                            culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="descr__column">
                                        <div class="descr__title">
                                            Ut enim ad minim veniam
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu
                                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                            in
                                            culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="descr__column">
                                        <div class="descr__title">
                                            Duis aute irure dolor in reprehenderit in voluptate
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu
                                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                            in
                                            culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="descr__column">
                                        <div class="descr__title">
                                            Excepteur sint occaecat cupidatat non proident
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu
                                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                            in
                                            culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-sticky">
                                <div class="block-sticky__image">
                                    <img loading="lazy" src="img/sticky.webp" alt="">
                                </div>
                            </div>
                        </div>
                        <div data-da=".block-article__content, 768, 1" class="block-article__share">
                            <div class="block-article__share-title">
                                Поделиться с друзьями
                            </div>
                            <div class="socials">
                                <a href="./">
                                    <img loading="lazy" src="img/icons/vk1.svg" alt="">
                                </a>
                                <a href="./">
                                    <img loading="lazy" src="img/icons/max2.svg" alt="">
                                </a>
                                <a href="./">
                                    <img loading="lazy" src="img/icons/whatsapp.svg" alt="">
                                </a>
                                <a href="./">
                                    <img loading="lazy" src="img/icons/telegram1.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-magazine block-magazine-article block1">
                <div class="container">
                    <div class="heading-complex">
                        <div class="heading-complex__top">
                            <h2 class="title3">Может заинтересовать</h2>
                        </div>
                    </div>
                    <div class="block-magazine__body">
                        <div class="block-magazine__cards">
                            <div class="card-magazine">
                                <div class="card-magazine__image">
                                    <div class="card-contacts">
                                        <a href="./" class="share">
                                            <img loading="lazy" src="img/icons/share.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="./">
                                        <img loading="lazy" src="img/image41.webp" alt="" class="card-magazine__pic1">
                                    </a>
                                </div>
                                <div class="card-magazine__item">
                                    <div class="card-magazine__badges">
                                        <div class="card-magazine__badge"><span>Поступление в вуз</span></div>
                                    </div>
                                    <a href="./" class="card-magazine__descr">
                                        <div class="card-magazine__title">
                                            Как выбрать университет: 5 шагов к правильному решению
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur.
                                        </p>
                                        <div class="card-magazine__data">04.02.2026</div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-magazine">
                                <div class="card-magazine__image">
                                    <div class="card-contacts">
                                        <a href="./" class="share">
                                            <img loading="lazy" src="img/icons/share.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="./">
                                        <img loading="lazy" src="img/image40.webp" alt="" class="card-magazine__pic1">
                                    </a>
                                </div>
                                <div class="card-magazine__item">
                                    <div class="card-magazine__badges">
                                        <div class="card-magazine__badge"><span>Поступление в вуз</span></div>
                                    </div>
                                    <a href="./" class="card-magazine__descr">
                                        <div class="card-magazine__title">
                                            Как подготовиться к вступительным экзаменам без стресса
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur.
                                        </p>
                                        <div class="card-magazine__data">04.02.2026</div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-magazine">
                                <div class="card-magazine__image">
                                    <div class="card-contacts">
                                        <a href="./" class="share">
                                            <img loading="lazy" src="img/icons/share.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="./">
                                        <img loading="lazy" src="img/image42.webp" alt="" class="card-magazine__pic1">
                                    </a>
                                </div>
                                <div class="card-magazine__item">
                                    <div class="card-magazine__badges">
                                        <div class="card-magazine__badge"><span>Поступление в вуз</span></div>
                                    </div>
                                    <a href="./" class="card-magazine__descr">
                                        <div class="card-magazine__title">
                                            Дистанционное обучение: плюсы, минусы и лайфхаки
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur.
                                        </p>
                                        <div class="card-magazine__data">04.02.2026</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>