<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка вуза - cтраница программы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner-card">
                <div class="container">
                    <div class="block-banner-card__content">
                        <div class="block-banner-card__top">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Вузы России
                                        </a>
                                    </li>
                                    <li><span>Вузы Москвы</span></li>
                                </ul>
                            </div>
                            <div class="card-contacts">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart1.svg" alt="" class="favorites__icon2">
                                </div>
                                <a href="./" class="share">
                                    <img loading="lazy" src="img/icons/share.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="block-banner-card__body">
                            <div class="block-banner-card__heading-complex">
                                <div class="block-banner-card__rating">
                                    <div data-rating data-rating-size="5" data-rating-value="4.5" class="rating">
                                    </div>
                                    <div class="rating__value">4.5 <span>(400 отзывов)</span></div>
                                </div>
                                <h1 class="title2">
                                    Московский государственный технический университет имени Н. Э. Баумана
                                </h1>
                                <div class="tags">
                                    <div style="background: #e5f0ff;" class="tags__tag">
                                        Государственный</div>
                                    <div style="background: #cee8f5;" class="tags__tag">
                                        Общежитие</div>
                                    <div style="background: #e5eaff;" class="tags__tag">
                                        Военная кафедра
                                    </div>
                                    <div style="background: #eae5ff;" class="tags__tag">
                                        Бюджетные места
                                    </div>
                                </div>
                            </div>
                            <div class="block-banner-card__image image-logo">
                                <img src="img/image34.webp" alt="">
                            </div>
                        </div>
                        <div class="block-banner-card__bottom">
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#time"></use>
                                </svg>
                                <div class="block-banner-card__title">Год основания</div>
                                <div class="block-banner-card__subtitle">1830</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#cash"></use>
                                </svg>
                                <div class="block-banner-card__title">Стоимость обучения</div>
                                <div class="block-banner-card__subtitle">от 210 000 ₽ в год</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#people"></use>
                                </svg>
                                <div class="block-banner-card__title">Бюджетные места</div>
                                <div class="block-banner-card__subtitle">2 400</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#chart"></use>
                                </svg>
                                <div class="block-banner-card__title">Проходной балл</div>
                                <div class="block-banner-card__subtitle">86</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#book"></use>
                                </svg>
                                <div class="block-banner-card__title">Программы обучения</div>
                                <div class="block-banner-card__subtitle">364</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-card">
                <div class="container">
                    <div class="block-card__contents">
                        <div class="block-card-nav">
                            <a href="./" class="block-card-nav__title">Основная информация</a>
                            <a href="./" class="block-card-nav__title active">Программы обучения</a>
                            <a href="./" class="block-card-nav__title">Отзывы</a>
                            <a href="./" class="block-card-nav__title">Фотогалерея</a>
                            <a href="./" class="block-card-nav__title">Контакты</a>
                            <a href="./" class="block-card-nav__title">Филиалы</a>
                            <a href="./" class="block-card-nav__title">Дни открытых дверей</a>
                        </div>
                        <div class="block-card-center">
                            <div class="block-card-center__content">
                                <div class="block-card-center__body">
                                    <div class="block-card-center__programs-info">
                                        <div class="block-card-center__top">
                                            <h2 class="title3">
                                                Перевод и переводоведение — китайский язык
                                            </h2>
                                            <div class="tags">
                                                <div style="background: #cee8f5;" class="tags__tag">
                                                    Бакалавриат</div>
                                                <div style="background: #eae5ff;" class="tags__tag">
                                                    Очно
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-card-programs-info">
                                            <ul>
                                                <li>
                                                    <div class="block-card-programs-info__icon">
                                                        <img loading="lazy" src="img/icons/school.svg" alt="">
                                                    </div>
                                                    <div class="block-card-programs-info__text">
                                                        Факультет: <span>Факультет Педагогики</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-card-programs-info__icon">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-card-programs-info__text">
                                                        Проходной балл: <span>86</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-card-programs-info__icon">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#ribbon"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-card-programs-info__text">
                                                        Бюджетных мест: <span>25</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-card-programs-info__icon">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#time"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-card-programs-info__text">
                                                        Срок обучения: <span>4 года</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-card-programs-info__icon">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#cash"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-card-programs-info__text">
                                                        Стоимость: <span><span class="blue">127 500 ₽</span> /
                                                            год</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="block-card-programs-info__icon">
                                                        <svg aria-hidden="true" width="24" height="24">
                                                            <use xlink:href="img/sprite.svg#book"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-card-programs-info__text">
                                                        Обязательные предметы: <span>Русский язык, Иностранный
                                                            язык</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="block-card-info block-card-info2">
                                        <div class="block-card-info__body">
                                            <div class="block-card-info__column">
                                                <div class="title4">
                                                    О программе
                                                </div>
                                                <div class="block-card-info__text">
                                                    <p class="strong">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </p>
                                                    <p>
                                                        Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
                                                        fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
                                                        malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
                                                        class aptent taciti sociosqu. Ad litora torquent per conubia
                                                        nostra inceptos himenaeos.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="block-card-info__column">
                                                <div class="title4">
                                                    Характеристики программы
                                                </div>
                                                <div class="block-card-info__text">
                                                    <p class="strong">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </p>
                                                    <p>
                                                        Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
                                                        fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
                                                        malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
                                                        class aptent taciti sociosqu. Ad litora torquent per conubia
                                                        nostra inceptos himenaeos.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-da=".block-card__contents, 992, last" class="block-sticky">
                                    <div class="block-sticky__image">
                                        <img loading="lazy" src="img/sticky.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>