<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка вуза - филиалы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner-card">
                <div class="container">
                    <div class="block-banner-card__content">
                        <div class="block-banner-card__top">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Вузы России
                                        </a>
                                    </li>
                                    <li><span>Вузы Москвы</span></li>
                                </ul>
                            </div>
                            <div class="card-contacts">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart1.svg" alt="" class="favorites__icon2">
                                </div>
                                <a href="./" class="share">
                                    <img loading="lazy" src="img/icons/share.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="block-banner-card__body">
                            <div class="block-banner-card__heading-complex">
                                <div class="block-banner-card__rating">
                                    <div data-rating data-rating-size="5" data-rating-value="4.5" class="rating">
                                    </div>
                                    <div class="rating__value">4.5 <span>(400 отзывов)</span></div>
                                </div>
                                <h1 class="title2">
                                    Московский государственный технический университет имени Н. Э. Баумана
                                </h1>
                                <div class="tags">
                                    <div style="background: #fff6db;" class="tags__tag">
                                        Государственный</div>
                                    <div style="background: #cee8f5;" class="tags__tag">
                                        Общежитие</div>
                                    <div style="background: #ffe5e6;" class="tags__tag">
                                        Военная кафедра
                                    </div>
                                    <div style="background: #c4f5d4;" class="tags__tag">
                                        Бюджетные места
                                    </div>
                                </div>
                            </div>
                            <div class="block-banner-card__image image-logo">
                                <img src="img/image34.webp" alt="">
                            </div>
                        </div>
                        <div class="block-banner-card__bottom">
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#time"></use>
                                </svg>
                                <div class="block-banner-card__title">Год основания</div>
                                <div class="block-banner-card__subtitle">1830</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#cash"></use>
                                </svg>
                                <div class="block-banner-card__title">Стоимость обучения</div>
                                <div class="block-banner-card__subtitle">от 210 000 ₽ в год</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#people"></use>
                                </svg>
                                <div class="block-banner-card__title">Бюджетные места</div>
                                <div class="block-banner-card__subtitle">2 400</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#chart"></use>
                                </svg>
                                <div class="block-banner-card__title">Проходной балл</div>
                                <div class="block-banner-card__subtitle">86</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#book"></use>
                                </svg>
                                <div class="block-banner-card__title">Программы обучения</div>
                                <div class="block-banner-card__subtitle">364</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-card">
                <div class="container">
                    <div class="block-card__contents">
                        <div class="block-card-nav">
                            <a href="./" class="block-card-nav__title">Основная информация</a>
                            <a href="./" class="block-card-nav__title">Программы обучения</a>
                            <a href="./" class="block-card-nav__title">Отзывы</a>
                            <a href="./" class="block-card-nav__title">Фотогалерея</a>
                            <a href="./" class="block-card-nav__title">Контакты</a>
                            <a href="./" class="block-card-nav__title active">Филиалы</a>
                            <a href="./" class="block-card-nav__title">Дни открытых дверей</a>
                        </div>
                        <div class="block-card-center">
                            <div class="block-card-center__top">
                                <h2 class="title3">Филиалы МГУ</h2>
                            </div>
                            <div class="block-card-center__content">
                                <div class="block-card-center__body">
                                    <div class="block-card-branches">
                                        <div class="card-catalog">
                                            <div class="card-contacts">
                                                <div class="favorites active">
                                                    <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                        class="favorites__icon1">
                                                    <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                        class="favorites__icon2">
                                                </div>
                                                <a href="./" class="share">
                                                    <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                                </a>
                                            </div>
                                            <a href="./" class="card-catalog__image">
                                                <img loading="lazy" src="img/image2.webp" alt="">
                                            </a>
                                            <div class="card-catalog__item">
                                                <div class="card-catalog__rating">
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                    <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                                </div>
                                                <a href="./" class="card-catalog__titles">
                                                    <div class="card-catalog__title">
                                                        Московский государственный университет имени М. В. Ломоносова
                                                    </div>
                                                </a>
                                                <ul class="card-descr">
                                                    <li>
                                                        <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                        <span>Программы: <strong>60</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#people"></use>
                                                        </svg>
                                                        <span>Бюджетных мест: <strong>200</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                        <span>Проходной балл: <strong>4.4</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#cash"></use>
                                                        </svg>
                                                        <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                    </li>
                                                </ul>
                                                <div class="tags">
                                                    <div style="background: #fff6db;" class="tags__tag">
                                                        Государственный</div>
                                                    <div style="background: #cee8f5;" class="tags__tag">
                                                        Общежитие</div>
                                                    <div style="background: #ffe5e6;" class="tags__tag">
                                                        Военная кафедра
                                                    </div>
                                                    <div style="background: #c4f5d4;" class="tags__tag">
                                                        Бюджетные места
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./" class="btn btn-grey">Подробнее</a>
                                        </div>
                                        <div class="card-catalog">
                                            <div class="card-contacts">
                                                <div class="favorites">
                                                    <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                        class="favorites__icon1">
                                                    <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                        class="favorites__icon2">
                                                </div>
                                                <a href="./" class="share">
                                                    <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                                </a>
                                            </div>
                                            <a href="./" class="card-catalog__image">
                                                <img loading="lazy" src="img/image3.webp" alt="">
                                            </a>
                                            <div class="card-catalog__item">
                                                <div class="card-catalog__rating">
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                    <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                                </div>
                                                <a href="./" class="card-catalog__titles">
                                                    <div class="card-catalog__title">
                                                        Национальный исследовательский университет «Высшая школа
                                                        экономики» (НИУ ВШЭ)
                                                    </div>
                                                </a>
                                                <ul class="card-descr">
                                                    <li>
                                                        <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                        <span>Программы: <strong>60</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#people"></use>
                                                        </svg>
                                                        <span>Бюджетных мест: <strong>200</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                        <span>Проходной балл: <strong>4.4</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#cash"></use>
                                                        </svg>
                                                        <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                    </li>
                                                </ul>
                                                <div class="tags">
                                                    <div style="background: #fff6db;" class="tags__tag">
                                                        Государственный</div>
                                                    <div style="background: #cee8f5;" class="tags__tag">
                                                        Общежитие</div>
                                                    <div style="background: #ffe5e6;" class="tags__tag">
                                                        Военная кафедра
                                                    </div>
                                                    <div style="background: #c4f5d4;" class="tags__tag">
                                                        Бюджетные места
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./" class="btn btn-grey">Подробнее</a>
                                        </div>
                                        <div class="card-catalog">
                                            <div class="card-contacts">
                                                <div class="favorites">
                                                    <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                        class="favorites__icon1">
                                                    <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                        class="favorites__icon2">
                                                </div>
                                                <a href="./" class="share">
                                                    <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                                </a>
                                            </div>
                                            <a href="./" class="card-catalog__image">
                                                <img loading="lazy" src="img/image34.webp" alt="">
                                            </a>
                                            <div class="card-catalog__item">
                                                <div class="card-catalog__rating">
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                    <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                                </div>
                                                <a href="./" class="card-catalog__titles">
                                                    <div class="card-catalog__title">
                                                        Московский государственный технический университет имени Н. Э.
                                                        Баумана
                                                    </div>
                                                </a>
                                                <ul class="card-descr">
                                                    <li>
                                                        <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                        <span>Программы: <strong>60</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#people"></use>
                                                        </svg>
                                                        <span>Бюджетных мест: <strong>200</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                        <span>Проходной балл: <strong>4.4</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#cash"></use>
                                                        </svg>
                                                        <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                    </li>
                                                </ul>
                                                <div class="tags">
                                                    <div style="background: #fff6db;" class="tags__tag">
                                                        Государственный</div>
                                                    <div style="background: #cee8f5;" class="tags__tag">
                                                        Общежитие</div>
                                                    <div style="background: #ffe5e6;" class="tags__tag">
                                                        Военная кафедра
                                                    </div>
                                                    <div style="background: #c4f5d4;" class="tags__tag">
                                                        Бюджетные места
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./" class="btn btn-grey">Подробнее</a>
                                        </div>
                                        <div class="card-catalog">
                                            <div class="card-contacts">
                                                <div class="favorites">
                                                    <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                        class="favorites__icon1">
                                                    <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                        class="favorites__icon2">
                                                </div>
                                                <a href="./" class="share">
                                                    <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                                </a>
                                            </div>
                                            <a href="./" class="card-catalog__image">
                                                <img loading="lazy" src="img/image34.webp" alt="">
                                            </a>
                                            <div class="card-catalog__item">
                                                <div class="card-catalog__rating">
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                    <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                                </div>
                                                <a href="./" class="card-catalog__titles">
                                                    <div class="card-catalog__title">
                                                        Московский государственный технический университет имени Н. Э.
                                                        Баумана
                                                    </div>
                                                </a>
                                                <ul class="card-descr">
                                                    <li>
                                                        <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                        <span>Программы: <strong>60</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#people"></use>
                                                        </svg>
                                                        <span>Бюджетных мест: <strong>200</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                        <span>Проходной балл: <strong>4.4</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#cash"></use>
                                                        </svg>
                                                        <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                    </li>
                                                </ul>
                                                <div class="tags">
                                                    <div style="background: #fff6db;" class="tags__tag">
                                                        Государственный</div>
                                                    <div style="background: #cee8f5;" class="tags__tag">
                                                        Общежитие</div>
                                                    <div style="background: #ffe5e6;" class="tags__tag">
                                                        Военная кафедра
                                                    </div>
                                                    <div style="background: #c4f5d4;" class="tags__tag">
                                                        Бюджетные места
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./" class="btn btn-grey">Подробнее</a>
                                        </div>
                                        <div class="card-catalog">
                                            <div class="card-contacts">
                                                <div class="favorites">
                                                    <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                        class="favorites__icon1">
                                                    <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                        class="favorites__icon2">
                                                </div>
                                                <a href="./" class="share">
                                                    <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                                </a>
                                            </div>
                                            <a href="./" class="card-catalog__image">
                                                <img loading="lazy" src="img/image34.webp" alt="">
                                            </a>
                                            <div class="card-catalog__item">
                                                <div class="card-catalog__rating">
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                    <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                                </div>
                                                <a href="./" class="card-catalog__titles">
                                                    <div class="card-catalog__title">
                                                        Московский государственный технический университет имени Н. Э.
                                                        Баумана
                                                    </div>
                                                </a>
                                                <ul class="card-descr">
                                                    <li>
                                                        <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                        <span>Программы: <strong>60</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#people"></use>
                                                        </svg>
                                                        <span>Бюджетных мест: <strong>200</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                        <span>Проходной балл: <strong>4.4</strong></span>
                                                    </li>
                                                    <li>
                                                        <svg aria-hidden="true" width="16" height="16">
                                                            <use xlink:href="img/sprite.svg#cash"></use>
                                                        </svg>
                                                        <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                    </li>
                                                </ul>
                                                <div class="tags">
                                                    <div style="background: #fff6db;" class="tags__tag">
                                                        Государственный</div>
                                                    <div style="background: #cee8f5;" class="tags__tag">
                                                        Общежитие</div>
                                                    <div style="background: #ffe5e6;" class="tags__tag">
                                                        Военная кафедра
                                                    </div>
                                                    <div style="background: #c4f5d4;" class="tags__tag">
                                                        Бюджетные места
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="./" class="btn btn-grey">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-da=".block-card__contents, 992, last" class="block-sticky">
                                    <div class="block-sticky__image">
                                        <img loading="lazy" src="img/sticky.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>