<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка вуза - программы обучения</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner-card">
                <div class="container">
                    <div class="block-banner-card__content">
                        <div class="block-banner-card__top">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Вузы России
                                        </a>
                                    </li>
                                    <li><span>Вузы Москвы</span></li>
                                </ul>
                            </div>
                            <div class="card-contacts">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart1.svg" alt="" class="favorites__icon2">
                                </div>
                                <a href="./" class="share">
                                    <img loading="lazy" src="img/icons/share.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="block-banner-card__body">
                            <div class="block-banner-card__heading-complex">
                                <div class="block-banner-card__rating">
                                    <div data-rating data-rating-size="5" data-rating-value="4.5" class="rating">
                                    </div>
                                    <div class="rating__value">4.5 <span>(400 отзывов)</span></div>
                                </div>
                                <h1 class="title2">
                                    Московский государственный технический университет имени Н. Э. Баумана
                                </h1>
                                <div class="tags">
                                    <div style="background: #fff6db; color: #c79500;" class="tags__tag">
                                        Государственный</div>
                                    <div style="background: #cee8f5; color: #2ea8e5;" class="tags__tag">
                                        Общежитие</div>
                                    <div style="background: #ffe5e6; color: #e52e3d;" class="tags__tag">
                                        Военная кафедра
                                    </div>
                                    <div style="background: #c4f5d4; color: #169e5a;" class="tags__tag">
                                        Бюджетные места
                                    </div>
                                </div>
                            </div>
                            <div class="block-banner-card__image image-logo">
                                <img src="img/image34.webp" alt="">
                            </div>
                        </div>
                        <div class="block-banner-card__bottom">
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#time"></use>
                                </svg>
                                <div class="block-banner-card__title">Год основания</div>
                                <div class="block-banner-card__subtitle">1830</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#cash"></use>
                                </svg>
                                <div class="block-banner-card__title">Стоимость обучения</div>
                                <div class="block-banner-card__subtitle">от 210 000 ₽ в год</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#people"></use>
                                </svg>
                                <div class="block-banner-card__title">Бюджетные места</div>
                                <div class="block-banner-card__subtitle">2 400</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#chart"></use>
                                </svg>
                                <div class="block-banner-card__title">Проходной балл</div>
                                <div class="block-banner-card__subtitle">86</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#book"></use>
                                </svg>
                                <div class="block-banner-card__title">Программы обучения</div>
                                <div class="block-banner-card__subtitle">364</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-card">
                <div class="container">
                    <div class="block-card__contents">
                        <div class="block-card-nav">
                            <a href="./" class="block-card-nav__title">Основная информация</a>
                            <a href="./" class="block-card-nav__title active">Программы обучения</a>
                            <a href="./" class="block-card-nav__title">Отзывы</a>
                            <a href="./" class="block-card-nav__title">Фотогалерея</a>
                            <a href="./" class="block-card-nav__title">Контакты</a>
                            <a href="./" class="block-card-nav__title">Филиалы</a>
                            <a href="./" class="block-card-nav__title">Дни открытых дверей</a>
                        </div>
                        <div class="block-card-center">
                            <div class="block-card-center__top">
                                <h2 class="title3">Программы обучения</h2>
                            </div>
                            <div class="block-card-center__content">
                                <div class="block-card-center__body">
                                    <div data-tabs class="tabs">
                                        <nav data-tabs-titles class="tabs__navigation">
                                            <button type="button" class="tabs__title _tab-active">Бакалавриат и
                                                специалитет</button>
                                            <button type="button" class="tabs__title">Магистратура</button>
                                            <button type="button" class="tabs__title">Аспирантура</button>
                                        </nav>
                                        <div data-tabs-body class="tabs__content">
                                            <div class="tabs__body">
                                                <div class="block-card-programs">
                                                    <div class="block-card-programs__body">
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tabs__body">
                                                <div class="block-card-programs">
                                                    <div class="block-card-programs__body">
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tabs__body">
                                                <div class="block-card-programs">
                                                    <div class="block-card-programs__body">
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="block-card-programs__column">
                                                            <div class="block-card-programs__top">
                                                                <div class="block-card-programs__title">
                                                                    Перевод и переводоведение
                                                                </div>
                                                                <div class="card-contacts">
                                                                    <div class="favorites">
                                                                        <img loading="lazy"
                                                                            src="img/icons/heart-blue.svg" alt=""
                                                                            class="favorites__icon1">
                                                                        <img loading="lazy" src="img/icons/heart1.svg"
                                                                            alt="" class="favorites__icon2">
                                                                    </div>
                                                                    <a href="./" class="share">
                                                                        <img loading="lazy"
                                                                            src="img/icons/share-blue.svg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="block-card-programs__items">
                                                                <div class="block-card-programs__left">
                                                                    <div class="tags">
                                                                        <div style="background: #cee8f5; color: #2ea8e5;"
                                                                            class="tags__tag">
                                                                            Бакалавриат</div>
                                                                        <div style="background: #eae5ff; color: #a030f0;"
                                                                            class="tags__tag">
                                                                            Очно
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li>
                                                                            <span>Факультет:</span> Факультет Педагогики
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 86
                                                                        </li>
                                                                        <li>
                                                                            <span>Проходной балл:</span> 25
                                                                        </li>
                                                                        <li>
                                                                            <span>Обязательные предметы:</span> Русский
                                                                            язык,
                                                                            Иностранный язык
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="block-card-programs__right">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="block-card-programs__name">Срок
                                                                                обучения:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>4</strong>
                                                                                года
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="block-card-programs__name">
                                                                                Стоимость:
                                                                            </div>
                                                                            <div class="block-card-programs__value">
                                                                                <strong>127 500</strong>
                                                                                ₽ / год
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <a href="./" class="btn">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-da=".block-card__contents, 992, last" class="block-sticky">
                                    <div class="block-sticky__image">
                                        <img loading="lazy" src="img/sticky.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>