<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка вуза - контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner-card">
                <div class="container">
                    <div class="block-banner-card__content">
                        <div class="block-banner-card__top">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Вузы России
                                        </a>
                                    </li>
                                    <li><span>Вузы Москвы</span></li>
                                </ul>
                            </div>
                            <div class="card-contacts">
                                <div class="favorites">
                                    <img loading="lazy" src="img/icons/heart2.svg" alt="" class="favorites__icon1">
                                    <img loading="lazy" src="img/icons/heart1.svg" alt="" class="favorites__icon2">
                                </div>
                                <a href="./" class="share">
                                    <img loading="lazy" src="img/icons/share.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="block-banner-card__body">
                            <div class="block-banner-card__heading-complex">
                                <div class="block-banner-card__rating">
                                    <div data-rating data-rating-size="5" data-rating-value="4.5" class="rating">
                                    </div>
                                    <div class="rating__value">4.5 <span>(400 отзывов)</span></div>
                                </div>
                                <h1 class="title2">
                                    Московский государственный технический университет имени Н. Э. Баумана
                                </h1>
                                <div class="tags">
                                    <div style="background: #fff6db; color: #c79500;" class="tags__tag">
                                        Государственный</div>
                                    <div style="background: #cee8f5; color: #2ea8e5;" class="tags__tag">
                                        Общежитие</div>
                                    <div style="background: #ffe5e6; color: #e52e3d;" class="tags__tag">
                                        Военная кафедра
                                    </div>
                                    <div style="background: #c4f5d4; color: #169e5a;" class="tags__tag">
                                        Бюджетные места
                                    </div>
                                </div>
                            </div>
                            <div class="block-banner-card__image image-logo">
                                <img src="img/image34.webp" alt="">
                            </div>
                        </div>
                        <div class="block-banner-card__bottom">
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#time"></use>
                                </svg>
                                <div class="block-banner-card__title">Год основания</div>
                                <div class="block-banner-card__subtitle">1830</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#cash"></use>
                                </svg>
                                <div class="block-banner-card__title">Стоимость обучения</div>
                                <div class="block-banner-card__subtitle">от 210 000 ₽ в год</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#people"></use>
                                </svg>
                                <div class="block-banner-card__title">Бюджетные места</div>
                                <div class="block-banner-card__subtitle">2 400</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#chart"></use>
                                </svg>
                                <div class="block-banner-card__title">Проходной балл</div>
                                <div class="block-banner-card__subtitle">86</div>
                            </div>
                            <div class="block-banner-card__column">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#book"></use>
                                </svg>
                                <div class="block-banner-card__title">Программы обучения</div>
                                <div class="block-banner-card__subtitle">364</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-card">
                <div class="container">
                    <div class="block-card__contents">
                        <div class="block-card-nav">
                            <a href="./" class="block-card-nav__title">Основная информация</a>
                            <a href="./" class="block-card-nav__title">Программы обучения</a>
                            <a href="./" class="block-card-nav__title">Отзывы</a>
                            <a href="./" class="block-card-nav__title">Фотогалерея</a>
                            <a href="./" class="block-card-nav__title active">Контакты</a>
                            <a href="./" class="block-card-nav__title">Филиалы</a>
                            <a href="./" class="block-card-nav__title">Дни открытых дверей</a>
                        </div>
                        <div class="block-card-center">
                            <div class="block-card-center__top">
                                <h2 class="title3">Контакты</h2>
                            </div>
                            <div class="block-card-center__content">
                                <div class="block-card-center__body">
                                    <div class="block-contacts">
                                        <div class="block-contacts__content">
                                            <div class="block-contacts__body">
                                                <div class="block-contacts__column">
                                                    <div class="block-contacts__icon">
                                                        <svg aria-hidden="true" width="27" height="27">
                                                            <use xlink:href="img/sprite.svg#location"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-contacts__items">
                                                        <div class="block-contacts__item">
                                                            <div class="block-contacts__title">г. Москва</div>
                                                            <div class="block-contacts__subtitle">2-я Бауманская улица,
                                                                д. 5, стр. 1
                                                            </div>
                                                            <div class="block-contacts__metro">
                                                                <img loading="lazy" src="img/metro.webp" alt="">
                                                                Аэропорт
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-contacts__column">
                                                    <div class="block-contacts__icon">
                                                        <svg aria-hidden="true" width="27" height="27">
                                                            <use xlink:href="img/sprite.svg#phone"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-contacts__items">
                                                        <div class="block-contacts__item">
                                                            <a href="tel:74992636391"
                                                                class="block-contacts__title title-link">+7
                                                                (499)
                                                                263-63-91</a>
                                                            <div class="block-contacts__subtitle">
                                                                приёмная комиссия
                                                            </div>
                                                        </div>
                                                        <div class="block-contacts__item">
                                                            <a href="tel:74992636391"
                                                                class="block-contacts__title title-link">+7
                                                                (499)
                                                                263-63-91</a>
                                                            <div class="block-contacts__subtitle">
                                                                приёмная комиссия
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-contacts__column">
                                                    <div class="block-contacts__icon">
                                                        <img loading="lazy" src="img/icons/globe.svg" alt="">
                                                    </div>
                                                    <div class="block-contacts__items">
                                                        <div class="block-contacts__item">
                                                            <a href="./"
                                                                class="block-contacts__title title-link">www.bmstu.ru</a>
                                                            <div class="socials">
                                                                <a href="./">
                                                                    <img loading="lazy" src="img/icons/max2.svg" alt="">
                                                                </a>
                                                                <a href="./">
                                                                    <img loading="lazy" src="img/icons/vk1.svg" alt="">
                                                                </a>
                                                                <a href="./">
                                                                    <img loading="lazy" src="img/icons/telegram1.svg"
                                                                        alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-contacts__column">
                                                    <div class="block-contacts__icon">
                                                        <svg aria-hidden="true" width="27" height="21">
                                                            <use xlink:href="img/sprite.svg#mail"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="block-contacts__items">
                                                        <div class="block-contacts__item">
                                                            <a href="mailto:info@bmstu.ru"
                                                                class="block-contacts__title  title-link">info@bmstu.ru</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="map1" class="block-contacts__map"></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-da=".block-card__contents, 992, last" class="block-sticky">
                                    <div class="block-sticky__image">
                                        <img loading="lazy" src="img/sticky.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845"></script>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>