<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Курсы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <a href="./" class="header__logo">
                        <img src="img/icons/logo1.svg" alt="">
                    </a>
                    <div class="header__menu">
                        <ul>
                            <li>
                                <a href="./">Вузы</a>
                            </li>
                            <li>
                                <a href="./">Колледжи</a>
                            </li>
                            <li>
                                <a href="./" class="active">Курсы</a>
                            </li>
                            <li>
                                <a href="./">Журнал</a>
                            </li>
                        </ul>
                        <div class="header__buttons">
                            <a href="./" data-popup="#login" class="btn">Войти</a>
                            <a href="./" data-popup="#registration" class="btn btn-light">Зарегистрироваться</a>
                        </div>
                    </div>
                    <div class="header-search">
                        <div class="header-search__buttons">
                            <div class="header-search__button">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#search"></use>
                                </svg>
                            </div>
                            <input autocomplete="off" type="text" name="form[]"
                                placeholder="Учебное заведение, специальность">
                            <div class="header-search__close">
                                <svg aria-hidden="true" width="11" height="11">
                                    <use xlink:href="img/sprite.svg#close1"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="header-search__dropdown">
                            <div class="header-search__column">
                                <div class="header-search__title">Учебные заведения</div>
                                <ul>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon icon-img">
                                                <img loading="lazy" src="img/image2.webp" alt="">
                                            </div>
                                            <span>Московский государственный университет им. М. В. Ломоносова</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon icon-img">
                                                <img loading="lazy" src="img/image3.webp" alt="">
                                            </div>
                                            <span>Национальный исследовательский университет «Высшая школа
                                                экономики»</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon icon-img">
                                                <img loading="lazy" src="img/image4.webp" alt="">
                                            </div>
                                            <span>Санкт-Петербургский государственный университет</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-search__column">
                                <div class="header-search__title">Специальности</div>
                                <ul>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#hammer"></use>
                                                </svg>
                                            </div>
                                            <span>Графический дизайн</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#hammer"></use>
                                                </svg>
                                            </div>
                                            <span>Промышленный дизайн</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#hammer"></use>
                                                </svg>
                                            </div>
                                            <span>Веб-дизайн</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-search__column">
                                <div class="header-search__title">Анонсы</div>
                                <ul>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#newspaper"></use>
                                                </svg>
                                            </div>
                                            <span>Жизнь в кампусе: чего ожидать от студенческой жизни</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#newspaper"></use>
                                                </svg>
                                            </div>
                                            <span>Топ 10 популярных специальностей в 2026 году </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <div class="header-search__icon">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#newspaper"></use>
                                                </svg>
                                            </div>
                                            <span>Как подготовиться к вступительным экзаменам без стресса</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header__right">
                        <button type="button" class="header__icon header-search-button">
                            <svg aria-hidden="true" width="17" height="17">
                                <use xlink:href="img/sprite.svg#search"></use>
                            </svg>
                        </button>
                        <a data-da=".header__menu, 820, 1" data-popup="#location" href="./"
                            class="header__icon header-location">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#location"></use>
                            </svg>
                            <span>
                                Санкт-Петербург
                            </span>
                        </a>
                        <button type="button" class="header__icon header-burger">
                            <div class="icon-menu">
                                <span></span>
                            </div>
                        </button>
                        <a href="./" class="btn" data-popup="#login">Войти</a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <div class="block-catalog block-catalog-courses">
                <div class="container">
                    <div class="block-catalog__heading-complex">
                        <h1 class="title1">Курсы</h1>
                        <form action="#" class="filter-catalog">
                            <div data-spollers="700,max" class="filter-catalog__inputs">
                                <div class="filter-catalog__column spollers-item filled">
                                    <div data-spoller class="filter-catalog__button">
                                        <div class="filter-catalog__titles">
                                            <div class="filter-catalog__title">
                                                Направления <span>Маркетинг и Продвижение</span>
                                            </div>
                                        </div>
                                        <img src="img/icons/arrow3.svg" alt="" class="filter-catalog__arrow">
                                    </div>
                                    <div class="filter-catalog__dropdowm">
                                        <div class="options">
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="1"
                                                    name="option1">
                                                <span class="options__label">
                                                    <span class="options__text">Программирование и IT</span>
                                                </span>
                                            </label>
                                            <label class="options__item">
                                                <input hidden class="options__input" checked type="radio" value="2"
                                                    name="option1">
                                                <span class="options__label">
                                                    <span class="options__text">Маркетинг и Продвижение</span>
                                                </span>
                                            </label>
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="3"
                                                    name="option1">
                                                <span class="options__label">
                                                    <span class="options__text">Дизайн и Креатив</span>
                                                </span>
                                            </label>
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="4"
                                                    name="option1">
                                                <span class="options__label">
                                                    <span class="options__text">Бизнес и Управление</span>
                                                </span>
                                            </label>
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="5"
                                                    name="option1">
                                                <span class="options__label">
                                                    <span class="options__text">Личностное развитие и Soft Skills</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-catalog__column spollers-item">
                                    <div data-spoller class="filter-catalog__button">
                                        <div class="filter-catalog__titles">
                                            <div class="filter-catalog__title">
                                                Категория <span></span>
                                            </div>
                                        </div>
                                        <img src="img/icons/arrow3.svg" alt="" class="filter-catalog__arrow">
                                    </div>
                                    <div class="filter-catalog__dropdowm">
                                        <div class="options">
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="1"
                                                    name="option2">
                                                <span class="options__label">
                                                    <span class="options__text">Категория1</span>
                                                </span>
                                            </label>
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="2"
                                                    name="option2">
                                                <span class="options__label">
                                                    <span class="options__text">Категория2</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-catalog__column spollers-item">
                                    <div data-spoller class="filter-catalog__button">
                                        <div class="filter-catalog__titles">
                                            <div class="filter-catalog__title">
                                                Стоимость <span></span>
                                            </div>
                                        </div>
                                        <img src="img/icons/arrow3.svg" alt="" class="filter-catalog__arrow">
                                    </div>
                                    <div class="filter-catalog__dropdowm">
                                        <div class="filter-catalog__checkbox">
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="1"
                                                    name="checkbox1">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Любая
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="2"
                                                    name="checkbox1">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Бесплатно
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="3"
                                                    name="checkbox1">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                    </span>
                                                    <span class="checkbox__text">
                                                        до 10 000 ₽
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="4"
                                                    name="checkbox1">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                    </span>
                                                    <span class="checkbox__text">
                                                        от 10 000 - 50 000 ₽
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="5"
                                                    name="checkbox1">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                    </span>
                                                    <span class="checkbox__text">
                                                        от 50 000 - 100 000 ₽
                                                    </span>
                                                </span>
                                            </label>
                                            <label class="checkbox">
                                                <input class="checkbox__input" type="checkbox" value="6"
                                                    name="checkbox1">
                                                <span class="checkbox__label">
                                                    <span class="checkbox__icon">
                                                        <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                    </span>
                                                    <span class="checkbox__text">
                                                        от 100 000 ₽
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-catalog__column spollers-item">
                                    <div data-spoller class="filter-catalog__button">
                                        <div class="filter-catalog__titles">
                                            <div class="filter-catalog__title">
                                                Срок обучения <span></span>
                                            </div>
                                        </div>
                                        <img src="img/icons/arrow3.svg" alt="" class="filter-catalog__arrow">
                                    </div>
                                    <div class="filter-catalog__dropdowm">
                                        <div class="options">
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="1"
                                                    name="option4">
                                                <span class="options__label">
                                                    <span class="options__text">Срок обучения1</span>
                                                </span>
                                            </label>
                                            <label class="options__item">
                                                <input hidden class="options__input" type="radio" value="2"
                                                    name="option4">
                                                <span class="options__label">
                                                    <span class="options__text">Срок обучения2</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-catalog__checkboxes">
                                <label class="checkbox2">
                                    <input class="checkbox2__input" checked type="checkbox" value="1" name="checkbox2">
                                    <span class="checkbox2__label">
                                        <span class="checkbox2__text">Онлайн</span>
                                    </span>
                                </label>
                                <label class="checkbox2">
                                    <input class="checkbox2__input" checked type="checkbox" value="2" name="checkbox2">
                                    <span class="checkbox2__label">
                                        <span class="checkbox2__text">Оффлайн</span>
                                    </span>
                                </label>
                                <label class="checkbox2">
                                    <input class="checkbox2__input" type="checkbox" value="3" name="checkbox2">
                                    <span class="checkbox2__label">
                                        <span class="checkbox2__text">Трудоустройство</span>
                                    </span>
                                </label>
                                <label class="checkbox2">
                                    <input class="checkbox2__input" type="checkbox" value="4" name="checkbox2">
                                    <span class="checkbox2__label">
                                        <span class="checkbox2__text">Стажировка</span>
                                    </span>
                                </label>
                                <label class="checkbox2">
                                    <input class="checkbox2__input" type="checkbox" value="5" name="checkbox2">
                                    <span class="checkbox2__label">
                                        <span class="checkbox2__text">С нуля</span>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="block-catalog__contents">
                        <div class="block-catalog-top">
                            <div class="block-catalog-top__result">
                                Найдено: 2 000 курсов
                            </div>
                            <div class="block-catalog-top__sorting">
                                <div class="block-catalog-top__sorting-title">Сортировать:</div>
                                <select name="form[]" class="select">
                                    <option value="1" selected>по умолчанию</option>
                                    <option value="2">по стоимости</option>
                                    <option value="3">по рейтингу</option>
                                    <option value="4">по минимальному баллу</option>
                                </select>
                            </div>
                        </div>
                        <div class="block-catalog__content">
                            <div class="block-catalog__body">
                                <div class="block-catalog__cards">
                                    <div class="card-catalog2">
                                        <div class="card-catalog2__sale">
                                            <span>-50%</span>
                                        </div>
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog2__image">
                                            <img loading="lazy" src="img/image37.webp" alt="">
                                        </a>
                                        <div class="card-catalog2__item">
                                            <div class="card-catalog2__badges">
                                                <div style="background: #169e5a;" class="card-catalog2__badge">
                                                    <span>Лучшая цена</span>
                                                </div>
                                                <div class="card-catalog2__badge">
                                                    <span>Скидка до 50%</span>
                                                </div>
                                            </div>
                                            <a href="./" class="card-catalog2__titles">
                                                <div class="card-catalog2__title">
                                                    Duis aute irure dolor in reprehenderit
                                                </div>
                                            </a>
                                            <div class="card-descr-big mob">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                            <div class="card-catalog2__center">
                                                <p>
                                                    Бизнес и управление | MBA
                                                </p>
                                                <div class="card-catalog2__rating">
                                                    <div class="rating__value">4.5 <span>(40)</span></div>
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="card-descr">
                                                <li class="card-descr-big">
                                                    <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                    <span>Нетология</span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: <strong>2 500 руб./месяц</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#time"></use>
                                                    </svg>
                                                    <span>Cрок обучения: <strong>3 месяца</strong></span>
                                                </li>
                                            </ul>
                                            <div class="card-descr-big desc">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                    <div class="card-catalog2">
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog2__image">
                                            <img loading="lazy" src="img/image37.webp" alt="">
                                        </a>
                                        <div class="card-catalog2__item">
                                            <a href="./" class="card-catalog2__titles">
                                                <div class="card-catalog2__title">
                                                    Duis aute irure dolor in reprehenderit
                                                </div>
                                            </a>
                                            <div class="card-descr-big mob">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                            <div class="card-catalog2__center">
                                                <p>
                                                    Бизнес и управление | MBA
                                                </p>
                                                <div class="card-catalog2__rating">
                                                    <div class="rating__value">4.5 <span>(40)</span></div>
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="card-descr">
                                                <li class="card-descr-big">
                                                    <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                    <span>Нетология</span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: <strong>2 500 руб./месяц</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#time"></use>
                                                    </svg>
                                                    <span>Cрок обучения: <strong>3 месяца</strong></span>
                                                </li>
                                            </ul>
                                            <div class="card-descr-big desc">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                    <div class="card-catalog2">
                                        <div class="card-catalog2__sale">
                                            <span>-50%</span>
                                        </div>
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog2__image">
                                            <img loading="lazy" src="img/image37.webp" alt="">
                                        </a>
                                        <div class="card-catalog2__item">
                                            <div class="card-catalog2__badges">
                                                <div style="background: #169e5a;" class="card-catalog2__badge">
                                                    <span>Лучшая цена</span>
                                                </div>
                                                <div class="card-catalog2__badge">
                                                    <span>Скидка до 50%</span>
                                                </div>
                                            </div>
                                            <a href="./" class="card-catalog2__titles">
                                                <div class="card-catalog2__title">
                                                    Duis aute irure dolor in reprehenderit
                                                </div>
                                            </a>
                                            <div class="card-descr-big mob">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                            <div class="card-catalog2__center">
                                                <p>
                                                    Бизнес и управление | MBA
                                                </p>
                                                <div class="card-catalog2__rating">
                                                    <div class="rating__value">4.5 <span>(40)</span></div>
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="card-descr">
                                                <li class="card-descr-big">
                                                    <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                    <span>Нетология</span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: <strong>2 500 руб./месяц</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#time"></use>
                                                    </svg>
                                                    <span>Cрок обучения: <strong>3 месяца</strong></span>
                                                </li>
                                            </ul>
                                            <div class="card-descr-big desc">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                    <div class="card-catalog2">
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog2__image">
                                            <img loading="lazy" src="img/image37.webp" alt="">
                                        </a>
                                        <div class="card-catalog2__item">
                                            <a href="./" class="card-catalog2__titles">
                                                <div class="card-catalog2__title">
                                                    Duis aute irure dolor in reprehenderit
                                                </div>
                                            </a>
                                            <div class="card-descr-big mob">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                            <div class="card-catalog2__center">
                                                <p>
                                                    Бизнес и управление | MBA
                                                </p>
                                                <div class="card-catalog2__rating">
                                                    <div class="rating__value">4.5 <span>(40)</span></div>
                                                    <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                        class="rating">
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="card-descr">
                                                <li class="card-descr-big">
                                                    <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                    <span>Нетология</span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: <strong>2 500 руб./месяц</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#time"></use>
                                                    </svg>
                                                    <span>Cрок обучения: <strong>3 месяца</strong></span>
                                                </li>
                                            </ul>
                                            <div class="card-descr-big desc">
                                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                                                <span>Нетология</span>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                </div>
                                {% include 'blocks/pagging.njk' %}
                            </div>
                            <div class="block-sticky">
                                <div class="block-sticky__image">
                                    <img loading="lazy" src="img/sticky.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/recommend.njk' %}

            <div class="block-about-catalog">
                <div class="container">
                    <div class="block-about-catalog__content">
                        <div class="block-about-catalog__title">
                            Курсы
                        </div>
                        <div class="block-about-catalog__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>