<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Страница с полным списком городов</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner">
                <div class="container">
                    <div class="block-banner__content">
                        <div class="block-banner__body">
                            <div class="block-banner__heading-complex">
                                <h1 class="title1">
                                    Выбери город
                                </h1>
                                <p>
                                    Выбери город и найди подходящий вуз.
                                </p>
                            </div>
                            <div class="filter">
                                <a href="./" class="filter__title active">Вузы</a>
                                <a href="./" class="filter__title">Колледжи</a>
                                <a href="./" class="filter__title">Курсы</a>
                            </div>
                        </div>
                        <div class="block-banner__image">
                            <img src="img/image5.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-cities">
                <div class="container">
                    <div class="block-cities__body active">
                        <div class="block-cities__column">
                            <div class="block-cities__title">Область 1</div>
                            <ul>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-cities__column">
                            <div class="block-cities__title">Область 2</div>
                            <ul>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-cities__column">
                            <div class="block-cities__title">Область 3</div>
                            <ul>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-cities__column">
                            <div class="block-cities__title">Область 4</div>
                            <ul>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                                <li>
                                    <a href="./">Город</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>