<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="rootpage">
        <ol class="rootpage__list">
            <li><a target="_blank" href="home.html">Главная</a></li>
            <li><a target="_blank" href="cities.html">Страница с полным списком городов</a></li>
            <li><a target="_blank" href="catalog-vuzy.html">Каталог вузов</a></li>
            <li><a target="_blank" href="card-vuz-info.html">Карточка вуза - основная информация</a></li>
            <li><a target="_blank" href="card-vuz-programs.html">Карточка вуза - программы обучения</a></li>
            <li><a target="_blank" href="card-vuz-programs-info.html">Карточка вуза - cтраница программы</a></li>
            <li><a target="_blank" href="card-vuz-reviews.html">Карточка вуза - отзывы</a></li>
            <li><a target="_blank" href="card-vuz-branches.html">Карточка вуза - филиалы</a></li>
            <li><a target="_blank" href="card-vuz-open-days.html">Карточка вуза - дни открытых дверей</a></li>
            <li><a target="_blank" href="card-vuz-contacts.html">Карточка вуза - контакты</a></li>
            <li><a target="_blank" href="catalog-courses.html">Курсы</a></li>
            <li><a target="_blank" href="card-courses.html">Карточка курса</a></li>
            <li><a target="_blank" href="specialties.html">Специальности</a></li>
            <li><a target="_blank" href="specialties-card.html">Карточка специальности</a></li>
            <li><a target="_blank" href="magazine.html">Журнал</a></li>
            <li><a target="_blank" href="article.html">Статья</a></li>
            <li><a target="_blank" href="profile-data.html">Профиль - личные данные</a></li>
            <li><a target="_blank" href="profile-favorites.html">Профиль - избранное</a></li>
            <li><a target="_blank" href="profile-reviews.html">Профиль - мои отзывы</a></li>
        </ol>
    </div>
</body>
<style>
    @charset "UTF-8";

    *,
    *::before,
    *::after {
        padding: 0px;
        margin: 0px;
        border: 0px;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        min-width: 320px;
        width: 100%;
        color: #2b2e33;
        background-color: #fff;
    }

    body {
        font-family: "Inter", sans-serif;
        font-size: 100%;
        line-height: 1;
        font-size: 1rem;
    }

    a {
        text-decoration: underline;
        color: #2b2e33;
    }

    a:visited {
        text-decoration: underline;
        color: #2b2e33;
    }

    a:hover {
        text-decoration: none;
    }

    ul li {
        list-style: none;
    }

    img {
        vertical-align: top;
    }

    .wrapper {
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }

    .rootpage {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: 767px) {
        .rootpage {
            padding: 30px 15px;
        }
    }

    .rootpage__list {
        margin: 0px 0px 2.25rem 1.25rem;
    }

    .rootpage__list li:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
</style>

</html>