<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка специальности</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner block-banner-specialties">
                <div class="container">
                    <div class="block-banner__content">
                        <div class="block-banner__body">
                            <div class="block-banner__heading-complex">
                                <h1 class="title1">
                                    Excepteur sint occaecat cupidatat non proident
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-specialties-card">
                <div class="container">
                    <div class="block-specialties-card__content">
                        <div class="block-specialties-card__body">
                            <div class="descr">
                                <div class="descr__column">
                                    <div class="descr__title">
                                        Lorem ipsum dolor sit amet
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <div class="descr__column">
                                    <div class="descr__title">
                                        Ut enim ad minim veniam
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <div class="descr__column">
                                    <div class="descr__title">
                                        Duis aute irure dolor in reprehenderit in voluptate
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <div class="descr__column">
                                    <div class="descr__title">
                                        Excepteur sint occaecat cupidatat non proident
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                            <div class="block-content">
                                <h3 class="title3">Где учиться?</h3>
                                <div class="block-content__body">
                                    <ul>
                                        <li>
                                            <a href="./">Математика в вузах Москвы</a>
                                        </li>
                                        <li>
                                            <a href="./">Математика в вузах Санкт-Петербурга</a>
                                        </li>
                                        <li>
                                            <a href="./">Математика в вузах Новосибирска</a>
                                        </li>
                                        <li>
                                            <a href="./">Математика в вузах Казани</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-universities-specialty">
                                <h3 class="title3">Вузы по специальности</h3>
                                <div class="block-universities-specialty__cards">
                                    <div class="card-catalog">
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog__image">
                                            <img loading="lazy" src="img/image2.webp" alt="">
                                        </a>
                                        <div class="card-catalog__item">
                                            <div class="card-catalog__rating">
                                                <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                    class="rating">
                                                </div>
                                                <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                            </div>
                                            <a href="./" class="card-catalog__titles">
                                                <div class="card-catalog__title">
                                                    Московский государственный университет имени М. В. Ломоносова
                                                </div>
                                            </a>
                                            <ul class="card-descr">
                                                <li>
                                                    <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                    <span>Программы: <strong>60</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#people"></use>
                                                    </svg>
                                                    <span>Бюджетных мест: <strong>200</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#chart"></use>
                                                    </svg>
                                                    <span>Проходной балл: <strong>4.4</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                </li>
                                            </ul>
                                            <div class="tags">
                                                <div style="background: #fff6db;" class="tags__tag">
                                                    Государственный</div>
                                                <div style="background: #cee8f5;" class="tags__tag">
                                                    Общежитие</div>
                                                <div style="background: #ffe5e6;" class="tags__tag">
                                                    Военная кафедра
                                                </div>
                                                <div style="background: #c4f5d4;" class="tags__tag">
                                                    Бюджетные места
                                                </div>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                    <div class="card-catalog">
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog__image">
                                            <img loading="lazy" src="img/image2.webp" alt="">
                                        </a>
                                        <div class="card-catalog__item">
                                            <div class="card-catalog__rating">
                                                <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                    class="rating">
                                                </div>
                                                <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                            </div>
                                            <a href="./" class="card-catalog__titles">
                                                <div class="card-catalog__title">
                                                    Московский государственный университет имени М. В. Ломоносова
                                                </div>
                                            </a>
                                            <ul class="card-descr">
                                                <li>
                                                    <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                    <span>Программы: <strong>60</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#people"></use>
                                                    </svg>
                                                    <span>Бюджетных мест: <strong>200</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#chart"></use>
                                                    </svg>
                                                    <span>Проходной балл: <strong>4.4</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                </li>
                                            </ul>
                                            <div class="tags">
                                                <div style="background: #fff6db;" class="tags__tag">
                                                    Государственный</div>
                                                <div style="background: #cee8f5;" class="tags__tag">
                                                    Общежитие</div>
                                                <div style="background: #ffe5e6;" class="tags__tag">
                                                    Военная кафедра
                                                </div>
                                                <div style="background: #c4f5d4;" class="tags__tag">
                                                    Бюджетные места
                                                </div>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                    <div class="card-catalog">
                                        <div class="card-contacts">
                                            <div class="favorites">
                                                <img loading="lazy" src="img/icons/heart-blue.svg" alt=""
                                                    class="favorites__icon1">
                                                <img loading="lazy" src="img/icons/heart1.svg" alt=""
                                                    class="favorites__icon2">
                                            </div>
                                            <a href="./" class="share">
                                                <img loading="lazy" src="img/icons/share-blue.svg" alt="">
                                            </a>
                                        </div>
                                        <a href="./" class="card-catalog__image">
                                            <img loading="lazy" src="img/image2.webp" alt="">
                                        </a>
                                        <div class="card-catalog__item">
                                            <div class="card-catalog__rating">
                                                <div data-rating data-rating-size="5" data-rating-value="4.5"
                                                    class="rating">
                                                </div>
                                                <div class="rating__value">4.5 <span>(40 отзывов)</span></div>
                                            </div>
                                            <a href="./" class="card-catalog__titles">
                                                <div class="card-catalog__title">
                                                    Московский государственный университет имени М. В. Ломоносова
                                                </div>
                                            </a>
                                            <ul class="card-descr">
                                                <li>
                                                    <img loading="lazy" src="img/icons/school2.svg" alt="">
                                                    <span>Программы: <strong>60</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#people"></use>
                                                    </svg>
                                                    <span>Бюджетных мест: <strong>200</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#chart"></use>
                                                    </svg>
                                                    <span>Проходной балл: <strong>4.4</strong></span>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" width="16" height="16">
                                                        <use xlink:href="img/sprite.svg#cash"></use>
                                                    </svg>
                                                    <span>Стоимость: от <strong>400 000</strong> руб./год</span>
                                                </li>
                                            </ul>
                                            <div class="tags">
                                                <div style="background: #fff6db;" class="tags__tag">
                                                    Государственный</div>
                                                <div style="background: #cee8f5;" class="tags__tag">
                                                    Общежитие</div>
                                                <div style="background: #ffe5e6;" class="tags__tag">
                                                    Военная кафедра
                                                </div>
                                                <div style="background: #c4f5d4;" class="tags__tag">
                                                    Бюджетные места
                                                </div>
                                            </div>
                                        </div>
                                        <a href="./" class="btn btn-grey">Подробнее</a>
                                    </div>
                                </div>
                                <a href="./" class="btn btn-light">
                                    <span>Смотреть все</span>
                                    <img loading="lazy" src="img/icons/arrow2.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="block-sticky">
                            <div class="block-sticky__image">
                                <img loading="lazy" src="img/sticky.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>