<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Специальности</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-banner block-banner-specialties">
                <div class="container">
                    <div class="block-banner__content">
                        <div class="block-banner__body">
                            <div class="block-banner__heading-complex">
                                <h1 class="title1">
                                    <span>Специальности</span> высшего образования
                                </h1>
                                <p>
                                    Все актуальные специальности российских вузов —от инженерных до творческих
                                    направлений обучения.
                                </p>
                            </div>
                            <div class="filter">
                                <a href="./" class="filter__title active">Бакалавриат</a>
                                <a href="./" class="filter__title">Специалитет</a>
                                <a href="./" class="filter__title">Магистратура</a>
                                <a href="./" class="filter__title">Аспирантура</a>
                            </div>
                        </div>
                        <div class="block-banner__image image-other">
                            <img src="img/image38.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-specialties">
                <div class="container">
                    <h2 class="title2">Специальности бакалавриата в вузах России</h2>
                    <div class="block-specialties__body">
                        <div class="block-specialties__column">
                            <div class="block-specialties__title">Математика и механика</div>
                            <ul>
                                <li>
                                    <div class="block-specialties__data">01.03.01</div>
                                    <a href="./">Lorem ipsum dolor sit amet</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.02</div>
                                    <a href="./">Tempus leo eu aenean sed diam</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.03</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.04</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.05</div>
                                    <a href="./">Quisque faucibus</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-specialties__column">
                            <div class="block-specialties__title">
                                Компьютерные и информационные науки
                            </div>
                            <ul>
                                <li>
                                    <div class="block-specialties__data">01.03.01</div>
                                    <a href="./">Lorem ipsum dolor sit amet</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.02</div>
                                    <a href="./">Tempus leo eu aenean sed diam</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.03</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.04</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.05</div>
                                    <a href="./">Quisque faucibus</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-specialties__column">
                            <div class="block-specialties__title">
                                Физика и астроминия
                            </div>
                            <ul>
                                <li>
                                    <div class="block-specialties__data">01.03.01</div>
                                    <a href="./">Lorem ipsum dolor sit amet</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.02</div>
                                    <a href="./">Tempus leo eu aenean sed diam</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.03</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.04</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.05</div>
                                    <a href="./">Quisque faucibus</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-specialties__column">
                            <div class="block-specialties__title">
                                Химия
                            </div>
                            <ul>
                                <li>
                                    <div class="block-specialties__data">01.03.01</div>
                                    <a href="./">Lorem ipsum dolor sit amet</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.02</div>
                                    <a href="./">Tempus leo eu aenean sed diam</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.03</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.04</div>
                                    <a href="./">Iaculis massa nisl</a>
                                </li>
                                <li>
                                    <div class="block-specialties__data">01.03.05</div>
                                    <a href="./">Quisque faucibus</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>