body {
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: var(--black-30);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: var(--white);
  background-color: var(--primary-blue);
  border-radius: 20px;
  padding: 4px 14px;
  width: fit-content;
  min-height: 39px;
  transition:
    background-color 0.3s,
    color 0.3s;
  &:hover {
    background-color: var(--primary-blue-hover);
  }
  &.disabled {
    pointer-events: none;
    background-color: var(--black-30);
  }
  &.btn-light {
    color: var(--primary-blue);
    background-color: var(--blue-16);
    &:hover {
      color: var(--white);
      background-color: var(--primary-blue);
    }
  }
}

.title1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  span {
    color: var(--primary-blue);
  }
  @media (max-width: 1260px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    font-size: 42px;
  }
}
