.arrows {
    display: flex;
    gap: 20px;
    @media (max-width: 390px) {
        gap: 5px;
    }
}
.arrow-prev {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    border: 1px solid var(--black-12);
    cursor: pointer;
    img {
        width: 14px;
        height: auto;
        transform: rotate(-180deg);
        @media (max-width: 768px) {
            width: 11px;
        }
    }
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}
.arrow-next {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    border: 1px solid var(--black-12);
    cursor: pointer;
    img {
        width: 14px;
        height: auto;
        @media (max-width: 768px) {
            width: 11px;
        }
    }
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}

.pagination {
    display: flex;
    z-index: 10;
    justify-content: center;
    gap: 16px;
    @media (max-width: 550px) {
        gap: 12px;
    }
    .swiper-pagination-bullet {
        flex: 0 0 16px;
        border-radius: 50%;
        height: 16px;
        background-color: var(--black-12);
        margin: 0px !important;
        opacity: 1 !important;
        @media (max-width: 550px) {
            height: 12px;
            flex: 0 0 12px;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: var(--black);
    }
}

.swiper-pagination-lock {
    display: none;
}
.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    opacity: 0.3;
}
