:root {
  --container-width: 1260px;
  --container-padding: 40px;
  --primary-blue: #2e7ae5;
  --primary-blue-hover: #245fb2;
  --white: #fff;
  --white-60: rgba(255, 255, 255, 0.6);
  --white-2: #f7f9fc;
  --light-grey-background: #e8e9ed;
  --light-blue-background: #ebf1fb;
  --black: #0c0c0d;
  --black-12: rgba(0, 4, 13, 0.12);
  --black-30: rgba(10, 11, 13, 0.3);
  --black-50: rgba(10, 11, 13, 0.5);
  --blue-16: rgba(46, 122, 229, 0.16);
  --navy-16: rgba(46, 77, 229, 0.16);
  --purple-16: rgba(77, 46, 229, 0.16);
  --red-16: rgba(229, 46, 61, 0.16);
  --green-16: rgba(46, 229, 107, 0.16);
  --red: #e52e3d;
  --purple: #5030f0;
  --green: #169e5a;
  --violet: #a030f0;
  --light-blue: #2ea8e5;
  --light-blue-16: rgba(46, 168, 229, 0.16);
  --blue-light: #e5f0ff;
  --purple-light: #e5eaff;
  --violet-light: #eae5ff;
  --green-light: #c4f5d4;
  --light-blue-light: #cee8f5;
  --orange: #f08030;
  --orange-16: rgba(229, 122, 46, 0.16);
  --advertising-background: #fff9e2;
  --light-blue-16: rgba(46, 183, 229, 0.16);
  --navy: #0a3066;

  --font-family: "TikTokSans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Unbounded", sans-serif;
}
